<div id="popup_info_wrapper">
    <div class="wrapper">
        <div class="close_wrapper">
            <a title="Close" onclick="RunFullScreen.hidePopupInfo()"><%= image_tag("run/close_24.png", size:'24x24') %></a>
        </div>
        <div class="info_contents">
            <%= render 'run/creator_info' %>
            <div class="page">
                <div class="<%= Const::Run::AttributeName::CONTENTS_PAGE_NUM_CLASSNAME %>"></div>
                <div class="<%= Const::Run::AttributeName::CONTENTS_PAGE_MAX_CLASSNAME %>"></div>
            </div>
            <div class="chapter">
                <div class="<%= Const::Run::AttributeName::CONTENTS_CHAPTER_NUM_CLASSNAME %>"></div>
                <div class="<%= Const::Run::AttributeName::CONTENTS_CHAPTER_MAX_CLASSNAME %>"></div>
            </div>
            <div class="fork">
                <div class="<%= Const::Run::AttributeName::CONTENTS_CHAPTER_NUM_CLASSNAME %>"></div>
            </div>
            <div class="tags">
                <div class="<%= Const::Run::AttributeName::CONTENTS_TAGS_CLASSNAME %>"></div>
            </div>
        </div>
    </div>
</div>
<div id="modal-overlay"></div>