<%= stylesheet_link_tag 'run', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'run', 'data-turbolinks-track' => true %>

<%= render 'run/navber' %>

<div id="contents">

    <div id="main">
        <div id="main-wrapper" class="stage_container">
            <div id="scroll_wrapper">
                <div id="scroll_handle_wrapper">
                    <div id="scroll_handle"></div>
                </div>
                <div id="scroll_contents">
                    <div id="scroll_inside">
                        <div id="scroll_inside_cover"></div>
                    </div>
                </div>
            </div>
            <div id="canvas_wrapper">
                <canvas id="canvas_container" class="canvas"></canvas>
            </div>
        </div>
    </div>

    <%= render 'base/csscode' %>

    <%= render 'base/values' %>
</div>