<%= stylesheet_link_tag 'run', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'run_', 'data-turbolinks-track' => true %>

<%= render 'run/navber' %>

<div id="contents">

    <%= render 'run/main' %>

    <%= render 'base/csscode' %>

    <%= render 'base/values', general_pagevalues: @general_pagevalues, instance_pagevalues: @instance_pagevalues, event_pagevalues: @event_pagevalues, is_runwindow_reload: @is_runwindow_reload %>
</div>