<%= stylesheet_link_tag 'pipeline/item_gallery', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'pipeline/item_gallery', 'data-turbolinks-track' => true %>

<%= render 'item_gallery/navbar/navbar' %>

<div id="item_gallery_wrapper" class="col-xs-9">
    <% @contents.each do |content| %>
        <%= render 'item_gallery/parts/item_contents_row', content: content, editable: false %>
    <% end %>
</div>

<div id="using_item_wrapper" class="col-xs-3">
    <% @using_items.each do |content| %>
      <%= render 'item_gallery/parts/user_using_contents_row', content: content, editable: false %>
    <% end %>
</div>
