<%= stylesheet_link_tag 'pipeline/item_gallery', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'pipeline/item_gallery', 'data-turbolinks-track' => true %>

<div id="tag_select_wrapper" class="col-xs-3">
    <% if @popular_tags.present? %>
        <div class="tags tagcloud popular_menu">
            <ul>
                <% @popular_tags.each do |t| %>
                    <li class="tag_name">
                        <a>
                            <%= t[Const::ItemGallery::Key::TAG_NAME] + "(#{t[Const::ItemGallery::Key::ITEM_GALLERY_COUNT]})" %>
                        </a>
                        <input type="hidden" class="<%= Const::ItemGallery::Key::TAG_ID %>" value="<%= t[Const::ItemGallery::Key::TAG_ID] %>">
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
</div>

<div id="item_gallery_wrapper" class="col-xs-6">
    <% if @contents.present? %>
        <% @contents.each do |content| %>
            <%= render 'item_gallery/parts/item_contents_row', content: content, editable: false, show_caption: false %>
        <% end %>
    <% end %>
</div>

<div id="using_item_wrapper" class="col-xs-3">
    <% if @using_items.present? %>
        <% @using_items.each do |content| %>
          <%= render 'item_gallery/parts/user_using_contents_row', content: content, editable: false %>
        <% end %>
    <% else %>
        No Using Items
    <% end %>
</div>
