<%= stylesheet_link_tag 'pipeline/item_gallery', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'pipeline/item_gallery', 'data-turbolinks-track' => true %>

<div id="tag_select_wrapper" class="col-xs-2">
    <div class="border">
        <div class="headliner">Popular tags</div>
        <% if @popular_tags.present? %>
            <div class="tags tagcloud popular_menu">
                <ul>
                    <% @popular_tags.each do |t| %>
                        <li class="tag_name">
                            <a>
                                <%= t[Const::ItemGallery::Key::TAG_NAME] + "(#{t[Const::ItemGallery::Key::ITEM_GALLERY_COUNT]})" %>
                            </a>
                            <input type="hidden" class="<%= Const::ItemGallery::Key::TAG_ID %>" value="<%= t[Const::ItemGallery::Key::TAG_ID] %>">
                        </li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    </div>
</div>

<div id="item_gallery_wrapper" class="col-xs-7">
    <div class="scroll_y_content border">
        <% if @contents.present? %>
            <% @contents.each do |content| %>
                <%= render 'item_gallery/parts/item_contents_row', content: content, editable: false, show_caption: false %>
            <% end %>
        <% end %>
    </div>
</div>

<div id="using_item_wrapper" class="col-xs-3">
    <div class="border">
        <div class="headliner">Items in use</div>
        <% if @using_items.present? %>
            <% @using_items.each do |content| %>
              <%= render 'item_gallery/parts/user_using_contents_row', content: content, mini: true %>
            <% end %>
        <% else %>
            No items
        <% end %>
    </div>
</div>
