<div id="<%= Const::ElementAttribute::NAVBAR_ROOT %>" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav_title"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="header_items_file_menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#header_items_file_menu">
                        <%= t('header_menu.file.file') %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="menu-newcreate"><%= t('header_menu.file.newcreate') %></a></li>
                        <li><a class="menu-open"><%= t('header_menu.file.open') %></a></li>
                        <li><a class="menu-save"><%= t('header_menu.file.save') %></a></li>
                        <li class="dropdown-submenu">
                            <a class="menu-load"><%= t('header_menu.file.load') %></a>
                            <ul class="dropdown-menu <%= Const::ElementAttribute::FILE_LOAD_CLASS %>">
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li><a class="menu-setting"><%= t('header_menu.file.setting') %></a></li>
                    </ul>
                </li>
                <!--<li id="header_action_brand">-->
                    <!--<a class="navbar-brand"><%= t('header_menu.action.action') %></a>-->
                <!--</li>-->
                <li id="header_items_select_menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#header_items_select_menu">
                        <span id="header_items_selected_menu_span"><%= t('header_menu.action.select_action') %></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header"><%= t('header_menu.action.draw.draw') %></li>
                        <li><a id="menu-item-1" class="menu-item"><%= t('header_menu.action.draw.button') %></a></li>
                        <li><a id="menu-item-2" class="menu-item"><%= t('header_menu.action.draw.arrow') %></a></li>
                        <li class="divider"></li>
                        <li><a id="menu-action-edit" class="menu-item"><%= t('header_menu.action.edit') %></a></li>
                    </ul>
                </li>
                <li><a onclick="run()">Run</a></li>
                <li id="header_etc_select_menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#header_etc_select_menu">
                        <%= t('header_menu.etc.etc') %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-submenu">
                            <a><%= t('header_menu.etc.language') %></a>
                            <ul class="dropdown-menu">
                                <%= render_cell :locale, :index %>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <li><a class="menu-item"><%= t('header_menu.etc.introduction') %></a></li>
                        <li><a class="menu-about"><%= t('header_menu.etc.about') %></a></li>
                        <li><a onclick="Worktable.runDebug()">Debug</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li id="<%= Const::Paging::NAV_ROOT_ID %>">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#header-pageing">
                        <span class="<%= Const::Paging::NAV_SELECTED_CLASS %>"></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu <%= Const::Paging::NAV_SELECT_ROOT_CLASS %>" role="menu">
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
