<div id="<%= Const::ElementAttribute::NAVBAR_ROOT %>" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav_title"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="header_items_file_menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#header_items_file_menu">
                        <%= t('header_menu.file.file') %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a class="menu-changeproject"><%= t('header_menu.file.changeproject') %></a></li>
                      <li><a class="menu-adminproject"><%= t('header_menu.file.adminproject') %></a></li>
                      <li class="menu-save-li"><a class="menu-save"><%= t('header_menu.file.save') %></a></li>
                    </ul>
                </li>
                <li id="header_items_select_menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#header_items_select_menu">
                        <span id="header_items_selected_menu_span"><%= t('header_menu.action.select_action') %></span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header"><%= t('header_menu.action.draw.draw') %></li>
                        <li class="dropdown-submenu">
                            <a class="menu-load"><%= t('header_menu.action.preload_item') %></a>
                            <ul class="dropdown-menu">
                                <% if @preload_items.present? %>
                                    <% @preload_items.each do |p| %>
                                        <li><a id="menu-item-<%= p.dist_token %>" class="menu-item"><%= p.title %></a></li>
                                    <% end %>
                                <% else %>
                                    <li><a class="menu-item">No item</a></li>
                                <% end %>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="menu-load"><%= t('header_menu.action.added_item') %></a>
                            <ul class="dropdown-menu">
                                <% if @using_items.present? %>
                                    <% @using_items.each do |p| %>
                                        <li><a id="menu-item-<%= p[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN] %>" class="menu-item"><%= p[Const::ItemGallery::Key::TITLE] %></a></li>
                                    <% end %>
                                <% else %>
                                    <li><a class="menu-item">No item</a></li>
                                <% end %>
                            </ul>
                        </li>
                         <li class="divider"></li>
                        <li><a id="menu-action-edit" class="menu-item"><%= t('header_menu.action.edit') %></a></li>
                        <li class="divider"></li>
                        <li>
                          <a id="menu-action-item_gallery" class="menu-item href" href="/item_gallery/">
                            <div class="icon">
                            </div>
                            <div>
                              <%= t('header_menu.action.item_gallery') %>
                            </div>
                          </a>
                        </li>
                        <% if user_signed_in? %>
                          <li>
                            <a id="menu-action-coding" class="menu-item href" href="/coding/item">
                              <div class="icon">
                              </div>
                              <div>
                                <%= t('header_menu.action.item_coding') %>
                              </div>
                            </a>
                          </li>
                        <% else %>
                          <li class="disabled">
                            <a id="menu-action-coding" class="menu-item href" href="" disabled="disabled">
                              <div class="icon">
                              </div>
                              <div>
                                <%= t('header_menu.action.item_coding') %>
                              </div>
                            </a>
                          </li>
                        <% end %>
                    </ul>
                </li>

                <li id="header_etc_select_menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#header_etc_select_menu">
                        <%= t('header_menu.etc.etc') %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-submenu">
                            <a><%= t('header_menu.etc.language') %></a>
                            <ul class="dropdown-menu">
                                <%= render_cell :locale, :index %>
                            </ul>
                        </li>
                        <li class="divider"></li>
                        <!--<li><a class="menu-intro"><%= t('header_menu.etc.introduction') %></a></li>-->
                        <li><a class="menu-about"><%= t('header_menu.etc.about') %></a></li>
                        <li class="divider"></li>
                        <li><a class="menu-backtomainpage"><%= t('header_menu.etc.back_to_gallery') %></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="last_update_time_li"><a href=""><span class="<%= Const::ElementAttribute::LAST_UPDATE_TIME_CLASS %>"></span></a></li>
              <li id="<%= Const::Paging::NAV_ROOT_ID %>">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#header-pageing">
                      <span class="<%= Const::Paging::NAV_SELECTED_CLASS %>"></span>
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu <%= Const::Paging::NAV_SELECT_ROOT_CLASS %>" role="menu">
                  </ul>
              </li>
              <li id="header_items_motion_check"><a onclick="MotionCheckCommon.run()"><%= image_tag("nav/motion_check.png", size:'36x36') %></a></li>
              <li id="menu_sidebar_toggle_li"><a id="menu_sidebar_toggle"><%= image_tag("nav/sidebar.png", size:'32x32') %></a></li>
              <li>
                <%= render 'base/user/login_user' %>
              </li>
            </ul>
        </div>
    </div>
</div>
