<div class="<%= Const::ItemStateConfig::ITEM_TEMP_CLASS_NAME %>">
    <div class="wrapper">
        <div class="name"></div>
        <div class="buttons">
            <a class="item_edit">
                <%= image_tag("sidebar/state/edit.png", size:'20x20') %>
            </a>
            <span class="item_visible">
                <a>
                    <%= image_tag("sidebar/state/eye_visible.png", size:'20x20') %>
                </a>
            </span>
            <span class="item_invisible">
                <a>
                    <%= image_tag("sidebar/state/eye_invisible.png", size:'20x20') %>
                </a>
            </span>
            <span class="focus_enabled">
                <a>
                    <%= image_tag("sidebar/state/focus_enabled.png", size:'20x20') %>
                </a>
            </span>
            <span class="focus_disabled">
                <%= image_tag("sidebar/state/focus_disabled.png", size:'20x20') %>
            </span>
        </div>
        <input class="item_obj_id" type="hidden" value="">
    </div>
</div>