<%= render 'upload/navbar/navber' %>
<div id="upload_wrapper">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="row">
        <div class="col-sm-5">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="form-group">
                <label>
                  <%= I18n.t('upload_confirm.thumbnail') %>
                </label>
                <div class="capture_wrapper">
                  <div>
                    <%= image_tag 'gallery/default_thumbnail/normal.png', class: 'default_thumbnail' %>
                    <%= image_tag 'gallery/default_thumbnail/normal.png', class: 'capture', style: 'display:none' %>
                  </div>
                </div>
                <div>
                  <div class="warn_message">
                    <%= I18n.t('upload_confirm.thumbnail_warn', size: Const::THUMBNAIL_FILESIZE_MAX_KB) %>
                  </div>
                  <div>
                    <%= file_field_tag :file_path, class: Const::PreloadItemImage::Key::SELECT_FILE %>
                  </div>
                  <div class="file_select_delete" style="text-align: right;display: none">
                    <input type="button" class="<%= Const::PreloadItemImage::Key::SELECT_FILE_DELETE %>" value="Delete">
                  </div>
                  <div class="error_message">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">

              <%= form_tag('', method: :post, id: 'upload_form') do %>
                  <div class="input_wrapper">
                    <% if @uploaded_list.length > 0 %>
                        <div class="form-group">
                          <div class="overwrite_contents_wrapper">
                            <div class="overwrite_contents_label"><%= I18n.t('upload_confirm.existed_upload_contents') %></div>
                            <div class="overwrite_contents_contents">
                              <select class="<%= Const::Gallery::Key::OVERWRITE_CONTENTS_SELECT %> form-control" name="<%= Const::Gallery::Key::UPLOAD_OVERWRITE_GALLERY_TOKEN %>">
                                <option value=""><%= I18n.t('upload_confirm.posting_new') %></option>
                                <% @uploaded_list.each do |u| %>
                                    <option class="form-control" value="<%= u['gallery_access_token'] %>"><%= I18n.t('upload_confirm.overwrite_contents', contents: "#{u['title']} [Upload Date #{u['updated_at'].strftime("%Y-%m-%d %H:%M:%S")}]") %></option>
                                <% end %>
                              </select>
                            </div>
                          </div>
                        </div>
                    <% end %>
                    <div class="form-group">
                      <div class="title_wrapper">
                        <div>
                          <label><%= I18n.t('upload_confirm.title') %></label>
                        </div>
                        <div>
                          <input class="<%= Const::Gallery::Key::TITLE %> form-control" name="<%= Const::Gallery::Key::TITLE %>" required>
                          <span class="title_error"><%= I18n.t('upload_confirm.title_input_error') %></span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="caption">
                        <div class="caption_label_warpper">
                          <label><%= I18n.t('upload_confirm.caption') %></label>
                        </div>
                        <div>
                          <textarea class="<%= Const::Gallery::Key::MARKDOWN_CAPTION %> form-control" name="<%= Const::ItemGallery::Key::CAPTION %>" data-provide="markdown" rows="5"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="select_tag_wrapper">
                        <label><%= I18n.t('upload_confirm.tags') %></label>
                        <div class="select_tag_table clearfix">
                          <div class="select_tag_input_wrapper">
                            <input class="select_tag_input" name="<%= Const::Gallery::Key::TAGS %>" value="" placeholder="<%= I18n.t('upload_confirm.tag_place_holder') %>">
                          </div>
                          <div class="select_tag tagcloud" style="float: left">
                            <ul>
                            </ul>
                          </div>
                        </div>
                      </div>

                      <% if @popular_tags.length > 0 %>
                          <div class="popular_tag_wrapper">
                            <label><%= I18n.t('upload_confirm.popular_tags') %></label>
                            <div class="popular_tag tagcloud">
                              <ul>
                                <% @popular_tags.each do |tag| %>
                                    <li><a href="#"><%= tag.name %></a></li>
                                <% end %>
                              </ul>
                            </div>
                          </div>
                      <% end %>
                      <% if @recommend_tags.length > 0 %>
                          <div class="recommend_tag_wrapper">
                            <label><%= I18n.t('upload_confirm.recommend_tags') %></label>
                            <div class="recommend_tag tagcloud">
                              <ul>
                                <% @recommend_tags.each do |tag| %>
                                    <li><a href="#"><%= tag.name %></a></li>
                                <% end %>
                              </ul>
                            </div>
                          </div>
                      <% end %>
                    </div>
                    <div class="form-group">
                      <div class="option_wrapper">
                        <div class="form-item">
                          <%= check_box_tag Const::Gallery::Key::SHOW_GUIDE, true, true %>
                          <%= label_tag I18n.t('upload_confirm.show_guide') %>
                        </div>
                        <div class="form-item">
                          <%= check_box_tag Const::Gallery::Key::SHOW_PAGE_NUM %>
                          <%= label_tag I18n.t('upload_confirm.show_page_num') %>
                        </div>
                        <div class="form-item">
                          <%= check_box_tag Const::Gallery::Key::SHOW_CHAPTER_NUM %>
                          <%= label_tag I18n.t('upload_confirm.show_chapter_num') %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input name="<%= Const::Gallery::Key::PROJECT_ID %>" type="hidden" value="<%= @project_id %>">
                  <% if @screen_size.present? %>
                      <input name="<%= Const::Gallery::Key::SCREEN_SIZE %>" type="hidden" value="<%= @screen_size %>">
                  <% end %>
                  <input name="<%= Const::Gallery::Key::PAGE_MAX %>" type="hidden" value="<%= @page_max %>">
                  <input name="<%= Const::Gallery::Key::THUMBNAIL_IMG %>" type="hidden" value="">
                  <input name="<%= Const::Gallery::Key::THUMBNAIL_IMG_CONTENTSTYPE %>" type="hidden" value="">
                  <input name="<%= Const::Gallery::Key::THUMBNAIL_IMG_WIDTH %>" type="hidden" value="">
                  <input name="<%= Const::Gallery::Key::THUMBNAIL_IMG_HEIGHT %>" type="hidden" value="">
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="button_wrapper">
      <div>
        <button class="upload_button" value="Upload">Upload</button>
      </div>
    </div>
  </div>
</div>
<%= render 'base/floatview' %>
