<%= render 'upload/navbar/navber' %>
<div id="upload_wrapper">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <%= form_tag('', method: :post, id: 'upload_form') do  %>
        <div>
            <div class="input_wrapper">

              <div class="form-group">
                <div class="title_wrapper">
                    <label><%= I18n.t('upload_confirm.title') %></label>
                    <div>
                      <input name="<%= Const::ItemGallery::Key::TITLE %>" class="form-control" required>
                      <span class="title_error"><%= I18n.t('upload_confirm.title_input_error') %></span>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="caption">
                    <div class="caption_label_warpper">
                      <label><%= I18n.t('upload_confirm.caption') %></label>
                    </div>
                    <div>
                      <textarea class="<%= Const::Gallery::Key::MARKDOWN_CAPTION %> form-control" name="<%= Const::ItemGallery::Key::CAPTION %>" data-provide="markdown" rows="5" ></textarea>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <div class="select_tag_wrapper">
                  <label><%= I18n.t('upload_confirm.tags') %></label>
                  <div class="select_tag_table clearfix">
                    <div class="select_tag_input_wrapper">
                      <input class="select_tag_input" name="<%= Const::Gallery::Key::TAGS %>" value="" placeholder="<%= I18n.t('upload_confirm.tag_place_holder') %>">
                    </div>
                    <div class="select_tag tagcloud" style="float: left">
                      <ul>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <input name="<%= Const::ItemGallery::Key::USER_CODING_ID %>" type="hidden" value="<%= @user_coding_id %>">
      <% end %>
     </div>
  </div>
  <div class="button_wrapper">
    <div>
      <button class="upload_button" type="button" value="Upload">Upload</button>
    </div>
  </div>
</div>

