<%= render 'upload/navbar/navber' %>
<%= form_tag('', method: :post, id: 'upload_form') do  %>
    <div id="upload_wrapper">
        <div>
            <div class="input_wrapper">
                <div class="title_wrapper">
                    <div>
                        <label><%= I18n.t('upload_confirm.title') %></label>
                    </div>
                    <div>
                      <input name="<%= Const::ItemGallery::Key::TITLE %>" required>
                      <span class="title_error"><%= I18n.t('upload_confirm.title_input_error') %></span>
                    </div>
                </div>

                <div class="caption">
                    <div class="caption_label_warpper">
                        <label><%= I18n.t('upload_confirm.caption') %></label>
                    </div>
                    <div>
                        <textarea class="<%= Const::Gallery::Key::MARKUPCAPTION %>" name="<%= Const::ItemGallery::Key::CAPTION %>"></textarea>
                    </div>
                </div>
                <div class="select_tag_wrapper">
                    <div class="select_tag_label"><%= I18n.t('upload_confirm.tags') %></div>
                    <div class="select_tag_table">
                        <div class="select_tag tagcloud" style="float: left">
                            <ul>
                            </ul>
                        </div>
                        <div class="select_tag_input_wrapper">
                            <input class="select_tag_input" name="<%= Const::ItemGallery::Key::TAGS %>" value="" >
                        </div>
                    </div>
                </div>
                <div class="recommend_tag_wrapper">
                    <div class="recommend_tag_label"><%= I18n.t('upload_confirm.recommend_tags') %></div>
                    <div class="recommend_tag tagcloud">
                        <ul>
                            <li><a href="#">tag3</a></li>
                            <li><a href="#">tag4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <input name="<%= Const::ItemGallery::Key::USER_CODING_ID %>" type="hidden" value="<%= @user_coding_id %>">
    </div>
    <div class="button_wrapper">
        <div>
            <button class="upload_button" value="Upload">Upload</button>
        </div>
    </div>
<% end %>
