<% timeline_page_values = nil if timeline_page_values.nil? %>
<% is_runwindow_reload = false if is_runwindow_reload.nil? %>

<% # ページ値 %>
<div id="<%= Const::PageValueKey::IS_ROOT %>">
    <% # 初期値がある場合はここに書く %>
    <% if is_runwindow_reload %>
        <input type="hidden" class="<%= Const::PageValueKey::IS_RUNWINDOW_RELOAD %>" value="true" >
    <% end %>
</div>

<%= form_tag("/run", method: "post", name: "run_form") do %>
    <div id="<%= Const::PageValueKey::ST_ROOT %>">
    </div>

    <div id="<%= Const::PageValueKey::E_ROOT %>">
        <% if timeline_page_values != nil %>
            <%= timeline_page_values.html_safe %>
        <% end %>
    </div>
<% end %>
