<%
   is_runwindow_reload = false if defined?(is_runwindow_reload) == nil || is_runwindow_reload.nil?
   if defined?(pagevalues) != nil && !pagevalues.nil?
     general_pagevalues = pagevalues[:general_pagevalues]
     instance_pagevalues = pagevalues[:instance_pagevalues]
     event_pagevalues = pagevalues[:event_pagevalues]
     footprint_pagevalues = pagevalues[:footprint_pagevalues]
   end

%>

<%= form_tag("", method: "post", name: "run_form") do %>
    <div style="display: none">
        <div id="<%= Const::PageValueKey::G_ROOT %>">
            <% if general_pagevalues != nil %>
                <%= general_pagevalues.html_safe %>
            <% end %>
        </div>

        <div id="<%= Const::PageValueKey::IS_ROOT %>">
            <% if is_runwindow_reload %>
                <input type="hidden" class="<%= Const::PageValueKey::IS_RUNWINDOW_RELOAD %>" value="true" >
            <% end %>
            <% if instance_pagevalues != nil %>
                <%= instance_pagevalues.html_safe %>
            <% end %>
        </div>

        <div id="<%= Const::PageValueKey::ST_ROOT %>">
        </div>

        <div id="<%= Const::PageValueKey::E_ROOT %>">
            <% if event_pagevalues != nil %>
                <%= event_pagevalues.html_safe %>
            <% end %>
        </div>

        <div id="<%= Const::PageValueKey::F_ROOT %>">
          <% if footprint_pagevalues != nil %>
              <%= footprint_pagevalues.html_safe %>
          <% end %>
        </div>
    </div>
<% end %>
