<%
  show_page_num = true if defined?(show_page_num) == nil || show_page_num.nil?
  show_chapter_num =  true if defined?(show_chapter_num) == nil || show_chapter_num.nil?
%>

<div class="contents_info">
  <div>
    <div>
      <div class="title">
        <span class="<%= Const::Run::AttributeName::CONTENTS_TITLE_CLASSNAME %>"><%= @title %></span>
      </div>
      <div class="creator">
        <span class="<%= Const::Run::AttributeName::CONTENTS_CREATOR_CLASSNAME %>">Created by <%= @creator[:name] %></span>
        <span class="circle"><%= @creator[:thumbnail_img] %></span>
      </div>
    </div>

    <% if show_page_num %>
        <div class="page">
          <span><%= I18n.t('contents_info.page') %>:</span>
          <span class="<%= Const::Run::AttributeName::CONTENTS_PAGE_NUM_CLASSNAME %>"></span>
          <span>/</span>
          <span class="<%= Const::Run::AttributeName::CONTENTS_PAGE_MAX_CLASSNAME %>"><%= @page_max %></span>
        </div>
    <% end %>

    <% if show_chapter_num %>
        <div>
          <div class="chapter">
            <span><%= I18n.t('contents_info.chapter') %>:</span>
            <span class="<%= Const::Run::AttributeName::CONTENTS_CHAPTER_NUM_CLASSNAME %>"></span>
            <span>/</span>
            <span class="<%= Const::Run::AttributeName::CONTENTS_CHAPTER_MAX_CLASSNAME %>"><%= @chapter_max %></span>
          </div>
          <div class="fork">
            <span><%= I18n.t('contents_info.fork') %>:</span>
            <span class="<%= Const::Run::AttributeName::CONTENTS_FORK_NUM_CLASSNAME %>"></span>
          </div>
        </div>
    <% end %>

    <% if @caption.nil? == false %>
        <div class="caption">
            <div class="<%= Const::Run::AttributeName::CONTENTS_CAPTION_CLASSNAME %>"><%= @caption %></div>
        </div>
    <% end %>
    <% if @tags.nil? == false && @tags.length > 0 %>
        <div class="<%= Const::Run::AttributeName::CONTENTS_TAGS_CLASSNAME %>">
            <div class="tags tagcloud">
                <ul>
                    <% @tags.each do |tag| %>
                        <li><a href=""><%= tag %></a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
  </div>
</div>

<div class="share_info">
  <div>
    <div class="link_wrapper">
      <div class="label">
        Link:
      </div>
      <input type="text" class="link" readonly data-ga="link" value='<%= @string_link %>' />
    </div>
    <div class="embed_wrapper">
      <div class="label">
        Embed:
      </div>
      <textarea class="embed" readonly data-ga="link"><%= @embed_link %></textarea>
    </div>
  </div>
</div>

<div class="contents_info_show_button">
  <%= image_tag("run/popup_info_32.png", size:'32x32') %>
</div>
<div class="bookmark_button">
  <% if @bookmarked %>
      <div class="bookmarked">
        <%= image_tag("run/bookmarked.png", size:'32x32') %>
      </div>
  <% else %>
      <div class="bookmark">
        <%= image_tag("run/bookmark.png", size:'32x32') %>
      </div>
  <% end %>
</div>
<div class="contents_share_show_button clearfix">
  <div>
    <%= render 'base/social_button', twitter_title: @title %>
  </div>
  <div>
    <%= image_tag("run/share32.png", size:'32x32') %>
  </div>
</div>