<div class="info">
    <div class="title">
        <span class="<%= Const::Run::AttributeName::CONTENTS_TITLE_CLASSNAME %>"></span>
    </div>
    <div class="creator">
        <span class="<%= Const::Run::AttributeName::CONTENTS_CREATOR_CLASSNAME %>"></span>
    </div>
    <div class="page">
        <span class="<%= Const::Run::AttributeName::CONTENTS_PAGE_NUM_CLASSNAME %>"></span>
        <span class="<%= Const::Run::AttributeName::CONTENTS_PAGE_MAX_CLASSNAME %>"></span>
    </div>
    <div class="fork">
        <span class="<%= Const::Run::AttributeName::CONTENTS_FORK_NUM_CLASSNAME %>"></span>
    </div>
    <div class="chapter">
        <span class="<%= Const::Run::AttributeName::CONTENTS_CHAPTER_NUM_CLASSNAME %>"></span>
        <span class="<%= Const::Run::AttributeName::CONTENTS_CHAPTER_MAX_CLASSNAME %>"></span>
    </div>
    <div class="tags">
        <span class="<%= Const::Run::AttributeName::CONTENTS_TAGS_CLASSNAME %>"></span>
    </div>
</div>