<%
   content = {} if content.nil?
   editable = false if editable.nil?
   show_caption = true if show_caption.nil?
%>

<% if editable %>

    <div class="contents_row drop-shadow lifted">
        <div class="contents_top">
            <div class="contents_left">
                <div>
                    <div class="title">
                        <%= link_to content[Const::ItemGallery::Key::TITLE], "/item_gallery/preview/#{content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]}" %>
                    </div>
                </div>
            </div>
            <div class="contents_right">
                <div class="contents_top">
                    <div class="contents_left">
                        <div class="user">
                            <%= link_to content[Const::User::Key::NAME], "/my_page/u=#{content[Const::User::Key::USER_ACCESS_TOKEN]}" %>
                        </div>
                    </div>
                    <div class="contents_left">
                        <div class="using_user">
                            <%= content[Const::User::Key::USER_COUNT] %>
                        </div>
                    </div>
                </div>
                <div class="contents_bottom">
                    <% if content[Const::ItemGallery::Key::TAGS].present? %>
                        <div class="contents_left">
                            <div class="tag_label">
                                Tags:
                            </div>
                        </div>
                        <div class="contents_left">
                            <div class="tags tagcloud mini event_disabled">
                                <ul>
                                    <% content[Const::ItemGallery::Key::TAGS].split(',').each do |t| %>
                                        <li class="tag_name"><a><%= t %></a></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div>
            <% if show_caption && content[Const::ItemGallery::Key::CAPTION].present? %>
                <div class="caption">
                    <%= content[Const::ItemGallery::Key::CAPTION] %>
                </div>
            <% end %>
            <div class="buttons">
                <div>
                    <div class="contents_right">
                        <div class="add_or_remove_button">
                            <% if content[Const::ItemGallery::Key::USER_ITEM_GALLERY_ID].blank? %>
                                <%= render 'base/button/add', link_url: "/item_gallery/add_user_used", params:{Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN.to_sym => content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]}  %>
                            <% else %>
                                <%= render 'base/button/remove', link_url: "/item_gallery/remove_user_used", params:{Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN.to_sym => content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]}  %>
                            <% end %>
                        </div>
                        <div class="edit_button">
                            <%= render 'base/button/edit', link_url: "/item_gallery/edit", params:{Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN.to_sym => content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]} %>
                        </div>
                        <div class="delete_button">
                            <%= render 'base/button/delete', link_url: "/item_gallery/delete", params:{Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN.to_sym => content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]}  %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" class="<%= Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN %>" value="<%= content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN] %>">
    </div>

<% else %>


    <div class="contents_row drop-shadow lifted">
        <div class="contents_top">
            <div class="contents_left">
                <div>
                    <div class="title">
                        <%= link_to content[Const::ItemGallery::Key::TITLE], "/item_gallery/preview/#{content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]}" %>
                    </div>
                </div>
            </div>
            <div class="contents_right">
                <div class="contents_top">
                    <div class="contents_left">
                        <div class="user">
                            <%= link_to content[Const::User::Key::NAME], "/my_page/u=#{content[Const::User::Key::USER_ACCESS_TOKEN]}" %>
                        </div>
                    </div>
                    <div class="contents_left">
                        <div class="using_user">
                            <%= content[Const::User::Key::USER_COUNT] %>
                        </div>
                    </div>
                </div>
                <div class="contents_bottom">
                    <% if content[Const::ItemGallery::Key::TAGS].present? %>
                        <div class="contents_left">
                            <div class="tag_label">
                                Tags:
                            </div>
                        </div>
                        <div class="contents_left">
                            <div class="tags tagcloud mini event_disabled">
                                <ul>
                                    <% content[Const::ItemGallery::Key::TAGS].split(',').each do |t| %>
                                        <li class="tag_name"><a><%= t %></a></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <div>
            <% if show_caption && content[Const::ItemGallery::Key::CAPTION].present? %>
                <div class="caption">
                    <%= content[Const::ItemGallery::Key::CAPTION] %>
                </div>
            <% end %>
            <div class="buttons">
                <div>
                    <div class="contents_right">
                        <div class="add_or_remove_button">
                            <% if content[Const::ItemGallery::Key::USER_ITEM_GALLERY_ID].blank? %>
                                <%= render 'base/button/add', link_url: "/item_gallery/add_user_used", params:{Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN.to_sym => content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]}  %>
                            <% else %>
                                <%= render 'base/button/remove', link_url: "/item_gallery/remove_user_used", params:{Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN.to_sym => content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]}  %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" class="<%= Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN %>" value="<%= content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN] %>">
    </div>

<% end %>