<%
   content = {} if content.nil?
   mini = false if mini.nil?
%>

<div class="contents_row drop-shadow lifted">
    <div class="contents_top">
        <div class="contents_left">
            <div>
                <div class="title">
                    <%= link_to content[Const::ItemGallery::Key::TITLE], "/item_gallery/preview/#{content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]}" %>
                </div>
            </div>
        </div>
        <div class="contents_right">
            <div class="contents_top">
                <div class="contents_left">
                    <div class="user">
                        <%= link_to content[Const::User::Key::NAME], "/my_page/u=#{content[Const::User::Key::USER_ACCESS_TOKEN]}" %>
                    </div>
                </div>
            </div>
            <% unless mini %>
                <div class="contents_bottom">
                    <% if content[Const::ItemGallery::Key::TAGS].present? %>
                        <div class="contents_left">
                            <div class="tag_label">
                                Tags:
                            </div>
                        </div>
                        <div class="contents_left">
                            <div class="tags tagcloud mini event_disabled">
                                <ul>
                                    <% content[Const::ItemGallery::Key::TAGS].split(',').each do |t| %>
                                        <li class="tag_name"><a><%= t %></a></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
    <div>
        <% if !mini && content[Const::ItemGallery::Key::CAPTION].present? %>
            <div class="caption">
                <%= content[Const::ItemGallery::Key::CAPTION] %>
            </div>
        <% end %>
        <div class="buttons">
            <div>
                <div class="contents_right">
                    <div class="add_or_remove_button">
                        <%= render 'base/button/remove', link_url: "/item_gallery/remove_user_used", params:{Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN.to_sym => content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]}, mini: mini  %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" class="<%= Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN %>" value="<%= content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN] %>">
</div>
