<%
   content = {} if content.nil?
   editable = false if editable.nil?
%>

<% if editable %>

    <div class="contents_row drop-shadow lifted">
        <div class="contents_top">
            <div class="contents_left">
                <div>
                    <div class="float_container">
                        <div class="contents_top">
                            <div class="contents_left">
                                <div class="title">
                                    <%= link_to content[Const::ItemGallery::Key::TITLE], "/item_gallery/preview/#{content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]}" %>
                                </div>
                            </div>
                            <div class="contents_right">
                                <div class="user">
                                    <%= link_to content[Const::User::Key::NAME], "/my_page/u=#{content[Const::User::Key::USER_ACCESS_TOKEN]}" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contents_bottom">
                        <div class="contents_left">
                            <div class="tag_label">
                                Tags:
                            </div>
                        </div>
                        <div class="contents_left">
                            <% if content[Const::ItemGallery::Key::TAGS].present? %>
                                <div class="tags tagcloud mini event_disabled">
                                    <ul>
                                        <% content[Const::ItemGallery::Key::TAGS].split(',').each do |t| %>
                                            <li class="tag_name"><a><%= t %></a></li>
                                        <% end %>
                                    </ul>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contents_right">
                <div class="add_or_remove_button">
                    <%= render 'base/button/remove', link_url: "item_gallery/remove_user_used", params:{Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN.to_sym => content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]}  %>
                </div>
            </div>
        </div>
        <div class="contents_bottom">
            <div class="caption">
                <%= content[Const::ItemGallery::Key::CAPTION] %>
            </div>
        </div>
        <input type="hidden" class="<%= Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN %>" value="<%= content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN] %>">
    </div>

<% else %>

    <div class="contents_row drop-shadow lifted">
        <div class="contents_top">
            <div class="contents_left">
                <div>
                    <div class="float_container">
                        <div class="contents_top">
                            <div class="contents_left">
                                <div class="title">
                                    <%= link_to content[Const::ItemGallery::Key::TITLE], "/item_gallery/preview/#{content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN]}" %>
                                </div>
                            </div>
                            <div class="contents_right">
                                <div class="user">
                                    <%= link_to content[Const::User::Key::NAME], "/my_page/u=#{content[Const::User::Key::USER_ACCESS_TOKEN]}" %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contents_bottom">
                        <div class="contents_left">
                            <div class="tag_label">
                                Tags:
                            </div>
                        </div>
                        <div class="contents_left">
                            <% if content[Const::ItemGallery::Key::TAGS].present? %>
                                <div class="tags tagcloud mini event_disabled">
                                    <ul>
                                        <% content[Const::ItemGallery::Key::TAGS].split(',').each do |t| %>
                                            <li class="tag_name"><a><%= t %></a></li>
                                        <% end %>
                                    </ul>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contents_right">

            </div>
        </div>
        <div class="contents_bottom">
            <div class="caption">
                <%= content[Const::ItemGallery::Key::CAPTION] %>
            </div>
        </div>
        <input type="hidden" class="<%= Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN %>" value="<%= content[Const::ItemGallery::Key::ITEM_GALLERY_ACCESS_TOKEN] %>">
    </div>

<% end %>