<div class="event">
    <div class="config">
        <div class="configBox">
            <div class="timelineedit-headliner">Target</div>
            <div class="forms">
                <!-- イベント対象一覧 -->
                <!-- ワークスペース読み込み時に設定 -->
                <select class="te_select_items" name="te_select_items">
                    <option value="0">(Select)</option>
                    <% @common_action_events.each do |c| %>
                      <option value="c_<%= c.id %>"><%= c.options['name'] %></option>
                    <% end %>
                </select>
            </div>
        </div>
    </div>
    <div class="config" style="display: none">
        <div class="configBox">
            <div class="timelineedit-headliner">Action</div>
            <div class="forms">
                <!-- アクション名 -->
                <ul class="te_select_methods">


                </ul>
            </div>
        </div>
    </div>
    <div class="config" style="display: none">
        <div class="configBox">
            <div class="timelineedit-headliner">Value</div>
            <div class="forms te_values">
                <!-- イベント毎の設定値 -->
                <% @common_action_events.each do |c| %>
                    <div class="<%= "c_#{c.id}" %>" style="display: none">
                      <% if c.action_event_type_id == Const::CommonActionEventTargetType::BACKGROUND  %>
                        <%= render 'worktable/sidebar_menu/timeline/parts/background' %>
                      <% elsif c.action_event_type_id == Const::CommonActionEventTargetType::ZOOM %>
                            <%= render 'worktable/sidebar_menu/timeline/parts/zoom' %>
                      <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
    <div class="config" style="display: none;">
        <div class="configBox">
            <div class="timelineedit-headliner">Apply Action</div>
            <div class="forms">
                <button class="btn btn-success btn-block">Apply and Proceed next</button>
                <button class="btn btn-success btn-block" style="margin-top: 15px">Apply and Close</button>
                <button class="btn btn-danger btn-block" style="margin-top: 15px">Reset</button>
                <button class="btn btn-danger btn-block" style="margin-top: 15px">Cancel and Close (Don't apply)</button>
            </div>
        </div>
    </div>
</div>