<div class="event">
    <div class="config">
        <div class="configBox">
            <div class="timelineedit-headliner">Target</div>
            <div class="forms">
                <!-- イベント対象一覧 -->
                <!-- ワークスペース読み込み時に設定 -->
                <select class="form-control te_item_select" name="te_item_select">
                    <option value="">(Select)</option>
                    <% @common_action_events.each do |c| %>
                      <option value="c_<%= c.id %>"><%= c.options['name'] %></option>
                    <% end %>
                </select>
            </div>
        </div>
    </div>
    <div class="config te_div action_div" style="display: none">
        <div class="configBox">
            <div class="timelineedit-headliner">Action</div>
            <div class="forms action_forms">
                <!-- アクション名一覧 -->
            </div>
        </div>
    </div>
    <div class="config te_div values_div" style="display: none">
        <div class="configBox">
            <div class="timelineedit-headliner">Value</div>
            <div class="forms value_forms">
                <!-- イベント毎の設定値 -->
                <% @common_action_events.each do |c| %>
                    <div class="<%= "c_#{c.id}" %>" style="display: none">
                      <% if c.action_event_type_id == Const::CommonActionEventTargetType::BACKGROUND  %>
                        <%= render 'worktable/sidebar_menu/timeline/parts/background' %>
                      <% elsif c.action_event_type_id == Const::CommonActionEventTargetType::ZOOM %>
                            <%= render 'worktable/sidebar_menu/timeline/parts/zoom' %>
                      <% end %>
                    </div>
                <% end %>
            </div>
            <div class="forms">
                <button class="push button reset" style="margin-top: 10px">reset change</button><br/>
                <button class="push button apply" style="margin-top: 10px">Apply</button><br/>
                <button class="push button cancel" style="margin-top: 10px">Close(Not apply)</button>
                <input class="confirm" type="hidden" value="OK?(Confirm)">
            </div>
        </div>
    </div>
</div>