<div>
  <div class="user_icon">
    <div class="icon_wrapper">
      <% if @user.thumbnail_img? %>
          <%= image_tag @user.thumbnail_img.url, size: '100x100', class: 'user_thumbnail' %>
      <% else %>
          <%= image_tag 'gallery/sidebar/default_user.png', size: '100x100', class: 'user_thumbnail' %>
      <% end %>
    </div>
    <div class="icon_change_cover">
      <%= image_tag 'mypage/icon_change.png', size: '100x100' %>
    </div>
    <div class="upload_form_wrapper">
      <%= form_tag user_update_thumbnail_path, method: :post, remote: true, class: "form-horizontal", id: 'thumbnail_upload_form', multipart: true, format: :json, authenticity_token: true  do |f| %>
        <%= file_field_tag Const::User::Key::THUMBNAIL.to_sym %>
      <% end %>
    </div>
  </div>
  <% if @is_accessed_myself_page %>
      <div class="footer_wrapper">
        <div class="edit">
          <%= link_to edit_user_registration_path do %>
              <%= image_tag 'gallery/sidebar/edit64.png', size: '45x45' %>
          <% end %>
        </div>
        <div class="logout">
          <%= link_to destroy_user_session_path, method: :delete do %>
              <%= image_tag 'gallery/sidebar/logout64.png', size: '45x45' %>
          <% end %>
        </div>
      </div>
  <% end %>

  <!-- ソーシャルボタン等追加予定 -->
</div>