<% @contents.each do |content| %>
    <div class="row">
        <div class="top">
            <div class="left">
                <div class="thumbnail">
                    <%= image_tag(thumbnail_gallery_path(content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN]), class: 'thumbnail_img', style: 'width:100px;height:100px;')%>
                </div>
            </div>
            <div class="right">
                <div class="top">
                    <div class="title"><%= content[Const::Gallery::Key::TITLE] %></div>
                    <div class="user"><%= content[Const::User::Key::NAME] %></div>
                </div>
                <div class="bottom">
                    <div class="tags">
                        <% content[Const::Gallery::Key::TAGS].split(',').each do |t| %>
                            <div class="tag_name"><%= t %></div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="caption">
                <%= content[Const::Gallery::Key::CAPTION] %>
            </div>
        </div>
    </div>
<% end %>