<%
   content = {} if content.nil?
   editable = false if editable.nil?
%>

<% if editable %>

    <div class="contents_row  drop-shadow lifted">
        <div class="contents_top">
            <div class="contents_left">
                <div>
                    <div class="float_container">
                        <div class="contents_top">
                            <div class="contents_left">
                                <div class="contents_thumbnail">
                                    <%= image_tag(thumbnail_gallery_path(content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN]), class: 'thumbnail_img', style: 'width:60px;height:60px;')%>
                                </div>
                            </div>
                            <div class="contents_right">
                                <div class="contents_top">
                                    <div class="title">
                                        <%= link_to content[Const::Gallery::Key::TITLE], "/gallery/detail/#{content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN]}" %>
                                    </div>
                                </div>
                                <div class="contents_bottom">
                                    <div class="user">
                                        <%= link_to content[Const::User::Key::NAME], "/my_page/u=#{content[Const::User::Key::USER_ACCESS_TOKEN]}" %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contents_bottom">
                        <div class="contents_left">
                            <div class="tag_label">
                                Tags:
                            </div>
                        </div>
                        <div class="contents_left">
                            <div class="tags tagcloud mini">
                                <ul>
                                    <% content[Const::ItemGallery::Key::TAGS].split(',').each do |t| %>
                                        <li class="tag_name"><a><%= t %></a></li>
                                    <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contents_right">
                <div class="contents_top">
                    <div class="edit_button">
                    </div>
                </div>
                <div class="contents_bottom">
                    <div class="delete_button">
                    </div>
                </div>
            </div>
        </div>
        <div class="contents_bottom">
            <div class="caption">
                <%= content[Const::Gallery::Key::CAPTION] %>
            </div>
        </div>
        <input type="hidden" class="<%= Const::Gallery::Key::GALLERY_ACCESS_TOKEN %>" value="<%= content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN] %>">
    </div>

<% else %>

    <div class="contents_row  drop-shadow lifted">
        <div class="contents_top">
            <div class="float_container">
                <div class="contents_top">
                    <div class="contents_left">
                        <div class="contents_thumbnail">
                            <%= image_tag(thumbnail_gallery_path(content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN]), class: 'thumbnail_img', style: 'width:60px;height:60px;')%>
                        </div>
                    </div>
                    <div class="contents_right">
                        <div class="contents_top">
                            <div class="title">
                                <%= link_to content[Const::Gallery::Key::TITLE], "/gallery/detail/#{content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN]}" %>
                            </div>
                        </div>
                        <div class="contents_bottom">
                            <div class="user">
                                <%= link_to content[Const::User::Key::NAME], "/my_page/u=#{content[Const::User::Key::USER_ACCESS_TOKEN]}" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contents_bottom">
                <div class="contents_left">
                    <div class="tag_label">
                        Tags:
                    </div>
                </div>
                <div class="contents_left">
                    <div class="tags tagcloud mini">
                        <ul>
                            <% content[Const::ItemGallery::Key::TAGS].split(',').each do |t| %>
                                <li class="tag_name"><a><%= t %></a></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="contents_bottom">
            <div class="caption">
                <%= content[Const::Gallery::Key::CAPTION] %>
            </div>
        </div>
        <input type="hidden" class="<%= Const::Gallery::Key::GALLERY_ACCESS_TOKEN %>" value="<%= content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN] %>">
    </div>

<% end %>