<%
   content = {} if content.nil?
   editable = false if editable.nil?
%>

<% if editable %>

    <div class="contents_row  drop-shadow lifted">
        <div class="contents_top">
            <div class="contents_left">
                <div class="contents_thumbnail">
                  <% if content[Const::Gallery::Key::THUMBNAIL_URL].present? %>
                    <%= image_tag(content[Const::Gallery::Key::THUMBNAIL_URL], class: 'thumbnail_img', style: 'width:100px;height:100px;')%>
                  <% end %>
                </div>
            </div>
            <div class="contents_right">
                <div>
                    <div class="row1">
                        <div class="title">
                            <%= link_to content[Const::Gallery::Key::TITLE], "/gallery/detail/#{content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN]}" %>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="contents_left">
                            <div class="user">
                                <%= link_to content[Const::User::Key::NAME], "/my_page/u=#{content[Const::User::Key::USER_ACCESS_TOKEN]}" %>
                            </div>
                        </div>
                        <div class="contents_right">
                            <% if content[Const::Gallery::Key::TAGS].present? %>
                                <div class="contents_left">
                                    <div class="tag_label">
                                        Tags:
                                    </div>
                                </div>
                                <div class="contents_left">
                                    <div class="tags tagcloud mini event_disabled">
                                        <ul>
                                            <% content[Const::Gallery::Key::TAGS].split(',').each do |t| %>
                                                <li class="tag_name"><a><%= t %></a></li>
                                            <% end %>
                                        </ul>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <% if content[Const::ItemGallery::Key::CAPTION].present? %>
                        <div class="row3">
                            <div class="caption">
                                <%= content[Const::Gallery::Key::CAPTION] %>
                            </div>
                        </div>
                    <% end %>
                    <div class="row4">
                        <div class="buttons">
                            <div>
                                <div class="contents_right">
                                    <div class="delete_button">
                                        <%= render 'base/button/delete', link_url: '/my_page/remove_contents', params:{Const::Gallery::Key::GALLERY_ACCESS_TOKEN.to_sym => content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN]} %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" class="<%= Const::Gallery::Key::GALLERY_ACCESS_TOKEN %>" value="<%= content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN] %>">
    </div>

<% else %>

    <div class="contents_row  drop-shadow lifted">
        <div class="contents_top">
            <div class="contents_left">
                <div class="contents_thumbnail">
                  <% if content[Const::Gallery::Key::THUMBNAIL_URL].present? %>
                    <%= image_tag(content[Const::Gallery::Key::THUMBNAIL_URL], class: 'thumbnail_img', style: 'width:100px;height:100px;')%>
                  <% end %>
                </div>
            </div>
            <div class="contents_right">
                <div>
                    <div class="row1">
                        <div class="title">
                            <%= link_to content[Const::Gallery::Key::TITLE], "/gallery/detail/#{content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN]}" %>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="contents_left">
                            <div class="user">
                                <%= link_to content[Const::User::Key::NAME], "/my_page/u=#{content[Const::User::Key::USER_ACCESS_TOKEN]}" %>
                            </div>
                        </div>
                        <div class="contents_right">
                            <% if content[Const::Gallery::Key::TAGS].present? %>
                                <div class="contents_left">
                                    <div class="tag_label">
                                        Tags:
                                    </div>
                                </div>
                                <div class="contents_left">
                                    <div class="tags tagcloud mini event_disabled">
                                        <ul>
                                            <% content[Const::Gallery::Key::TAGS].split(',').each do |t| %>
                                                <li class="tag_name"><a><%= t %></a></li>
                                            <% end %>
                                        </ul>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <% if content[Const::ItemGallery::Key::CAPTION].present? %>
                        <div class="row3">
                            <div class="caption">
                                <%= content[Const::Gallery::Key::CAPTION] %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
        <input type="hidden" class="<%= Const::Gallery::Key::GALLERY_ACCESS_TOKEN %>" value="<%= content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN] %>">
    </div>

<% end %>