<div class="wrapper">
    <div class="user_wrapper">
        <!-- User -->
        <% if user_signed_in? %>
        <!-- ログイン済み -->
            <% if current_user.thumbnail_img.nil? %>
                <div class="circle <%= Const::Gallery::Sidebar::USER %>">
                    <%= image_tag 'gallery/sidebar/default_user.png' ,size:'50x50' %>
                </div>
            <% else %>
                <div class="circle <%= Const::Gallery::Sidebar::USER %>">
                    <img src="<%= current_user.thumbnail_img %>" width="50" height="50" />
                </div>
            <% end %>
        <% else %>
        <!-- 未ログイン-->
            <div class="circle <%= Const::Gallery::Sidebar::USER %>">
                <%= image_tag 'gallery/sidebar/guest_user.png', size:'50x50' %>
            </div>
        <% end %>
    </div>
    <div class="worktable_wrapper">
        <!-- worktable -->
        <div class="circle grid <%= Const::Gallery::Sidebar::WORKTABLE %>"></div>
    </div>
    <div class="view_wrapper">
        <!-- view -->
        <div class="circle grid <%= Const::Gallery::Sidebar::VIEW %>"></div>
    </div>
    <div class="search_wrapper">
        <!-- serach -->
        <div class="circle <%= Const::Gallery::Sidebar::SEARCH %>"></div>
    </div>

    <div class="logo_wrapper">
        <!-- logo -->
        <div class="circle <%= Const::Gallery::Sidebar::LOGO %>"></div>
    </div>
    <div class="doc"></div>
</div>