<div class="wrapper">
    <div class="user_wrapper">
        <!-- User -->
        <%= render 'base/login_user', is_gallery: true %>
    </div>
    <div class="worktable_wrapper">
        <!-- worktable -->
        <div class="circle grid <%= Const::Gallery::Sidebar::WORKTABLE %>"></div>
    </div>
    <div class="view_wrapper">
        <!-- view -->
        <div class="circle grid <%= Const::Gallery::Sidebar::VIEW %>"></div>
    </div>
    <div class="search_wrapper">
        <!-- serach -->
        <div class="circle <%= Const::Gallery::Sidebar::SEARCH %>"></div>
    </div>

    <div class="logo_wrapper">
        <!-- logo -->
        <div class="circle <%= Const::Gallery::Sidebar::LOGO %>"></div>
    </div>
    <div class="doc"></div>
</div>