<div class="wrapper">
    <div class="user_wrapper">
        <!-- User -->
        <%= render 'base/user/login_user', is_gallery: true %>
    </div>
    <div class="worktable_wrapper">
        <!-- worktable -->
      <%= link_to '/worktable' do %>
        <div class="circle grid <%= Const::Gallery::Sidebar::WORKTABLE %>"></div>
      <% end %>
    </div>
    <div class="view_wrapper">
        <!-- view -->
        <div class="circle grid <%= Const::Gallery::Sidebar::VIEW %>"></div>
    </div>
    <div class="search_wrapper">
        <!-- serach -->
        <div class="circle <%= Const::Gallery::Sidebar::SEARCH %>"></div>
    </div>

    <div class="logo_wrapper">
        <!-- logo -->
        <div class="circle <%= Const::Gallery::Sidebar::LOGO %>" onclick="Common.showModalView(Constant.ModalViewType.ABOUT); return false;"></div>
    </div>
    <div class="doc"></div>
</div>