<div id="main" class="fullscreen">
    <div id="screen_wrapper">
        <div id="project_wrapper" class="fullscreen border">
            <%= render 'run/contents' %>
        </div>
        <div class="info_wrapper">
            <a class="info_button" onclick="RunFullScreen.showPopupInfo()"><%= image_tag("run/popup_info_24.png", size:'24x24') %></a>
        </div>
        <%= render 'run/fullscreen/popup/popup_info' %>
        <%= render 'run/fullscreen/popup/popup_creator' %>
    </div>
</div>
<%= render 'run/run_contents_temp' %>