<div class="new_window" onclick="GalleryCommon.showWithFullScreen(this); return false;">
  <input type="hidden" class="<%= Const::Gallery::Key::GALLERY_ACCESS_TOKEN %>" value="<%= access_token %>" />
  <input type="hidden" class="<%= Const::Gallery::Key::SCREEN_SIZE_WIDTH %>" value="<%= screen_size_width %>" />
  <input type="hidden" class="<%= Const::Gallery::Key::SCREEN_SIZE_HEIGHT %>" value="<%= screen_size_height %>" />
</div>