<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= render 'work_table/navber' %>

<div id="contents">

    <%= render 'work_table/main' %>

    <%= render 'work_table/sidebar' %>

    <%= render 'work_table/csscode' %>

    <%= render 'work_table/footer_message' %>

</div>