<div class="modal-content <%= Const::ModalViewType::INIT_PROJECT %>">
    <div class="content">
        <div class="project_create_wrapper">
            <div>
                <div style="display: inline-block">
                    <label><input type="radio" name="project_create" value="select" checked><%= I18n.t('modal.project_select') %></label>
                </div>
                <div style="display: inline-block">
                    <label><input type="radio" name="project_create" value="new"><%= I18n.t('modal.project_create') %></label>
                </div>
            </div>
        </div>
        <div class="display_project_new_wrapper">
            <div class="label_div">
                <label><%= I18n.t('modal.project_name') %>:</label>
            </div>
            <div>
                <input name="project_name" class="project_name" type="text" required="required"><br />
            </div>
        </div>
        <div class="display_project_new_wrapper">
            <div class="label_div">
                <label><%= I18n.t('modal.display_size') %>:</label>
            </div>
            <div>
                <div class="display_size_wrapper">
                    <label>
                        <input type="radio" name="project_size" value="default" checked><%= I18n.t('modal.fit') %> (<span class="default_window_size"></span>)
                    </label>
                    <label>
                        <input type="radio" name="project_size" value="input"><%= I18n.t('modal.input') %>
                    </label>
                </div>
                <div class="display_size_input_wrapper" style="display: none">
                    <div style="display: inline-block">
                        <%= I18n.t('modal.width') %>:<input class="display_size_input_width" type="number" value="" maxlength="4" style="max-width: 50px">
                    </div>
                    <div style="display: inline-block">
                      <%= I18n.t('modal.height') %>:<input class="display_size_input_height" type="number" value="" maxlength="4" style="max-width: 50px">
                    </div>
                </div>
            </div>
        </div>
        <div class="display_project_select_wrapper">
            <div class="label_div">
                <label><%= I18n.t('modal.select_project') %>:</label>
            </div>
            <div style="vertical-align: middle">
                <select class="project_select"></select>
            </div>
        </div>
        <div class="button_wrapper">
            <div>
                <span class="new"><button class="create_button width90per" value="Create"><%= I18n.t('modal.button.create') %></button></span>
                <span class="select"><button class="open_button width90per" value="Open"><%= I18n.t('modal.button.open') %></button></span>
                <button class="back_button width90per" value="Back to MainPage"><%= I18n.t('modal.button.back') %></button>
            </div>
        </div>
      <div class="error_wrapper" style="display: none">
        <div class="error">
        </div>
      </div>
    </div>
</div>