<div class="creator_info_wrapper">
    <div class="title">
        <span class="<%= Const::Run::AttributeName::CONTENTS_TITLE_CLASSNAME %>"><%= @title %></span>
    </div>
    <div class="creator">
        <span class="<%= Const::Run::AttributeName::CONTENTS_CREATOR_CLASSNAME %>"><%= @creator.name %></span>
        <span class="circle"><%= @creator.thumbnail_img %></span>
    </div>
    <% if @caption.nil? == false %>
        <div class="caption">
            <span class="<%= Const::Run::AttributeName::CONTENTS_CAPTION_CLASSNAME %>"><%= @caption %></span>
        </div>
    <% end %>
</div>