<div id="popup_info_wrapper">
    <div class="wrapper">
        <div class="close_wrapper">
            <a title="Close" onclick="RunFullScreen.hidePopupInfo()"><%= image_tag("run/close_24.png", size:'24x24') %></a>
        </div>
        <div class="info_contents">
            <%= render 'run/fullscreen/popup/creator_info' %>
            <div class="page">
                <span class="<%= Const::Run::AttributeName::CONTENTS_PAGE_NUM_CLASSNAME %>">0</span>
                <span class="<%= Const::Run::AttributeName::CONTENTS_PAGE_MAX_CLASSNAME %>"><%= @page_max %></span>
            </div>
            <div class="fork">
                <span class="<%= Const::Run::AttributeName::CONTENTS_CHAPTER_NUM_CLASSNAME %>"></span>
            </div>
            <div class="chapter">
                <span class="<%= Const::Run::AttributeName::CONTENTS_CHAPTER_NUM_CLASSNAME %>">0</span>
                <span class="<%= Const::Run::AttributeName::CONTENTS_CHAPTER_MAX_CLASSNAME %>"><%= @chapter_max %></span>
            </div>
            <% if @tags.nil? == false && @tags.length > 0 %>
                <div class="<%= Const::Run::AttributeName::CONTENTS_TAGS_CLASSNAME %>">
                    <div class="tags tagcloud">
                        <ul>
                        <% @tags.each do |tag| %>
                            <li><a href=""><%= tag %></a></li>
                        <% end %>
                        </ul>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
