<%= stylesheet_link_tag 'run_kit', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'run_kit', 'data-turbolinks-track' => true %>
<script src="<%= javascript_path 'motion_check/motion_check_common'%>" type="text/javascript" ></script>
<script src="<%= javascript_path 'motion_check/motion_check.js'%>" type="text/javascript" ></script>

<%= render 'motion_check/navbar/navber_tab' %>

<div id="contents">
    <div id="contents_info">

    </div>

    <%= render 'run/main' %>

    <%= render 'base/csscode' %>

    <%= render 'base/values', general_pagevalues: @general_pagevalues, instance_pagevalues: @instance_pagevalues, event_pagevalues: @event_pagevalues, is_runwindow_reload: @is_runwindow_reload %>
</div>