<%= stylesheet_link_tag 'run_kit', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'run_kit', 'data-turbolinks-track' => true %>
<script src="<%= javascript_path 'run/run_full_screen'%>" type="text/javascript" ></script>
<script src="<%= javascript_path 'motion_check/motion_check_common'%>" type="text/javascript" ></script>
<script src="<%= javascript_path 'motion_check/motion_check_new_window'%>" type="text/javascript" ></script>

<%= render 'motion_check/navbar/navber_window' %>

<div id="contents">
    <%= render 'run/fullscreen/fullscreen' %>
    <%= render 'base/csscode' %>
    <%= render 'base/values', contents: @contents, is_runwindow_reload: @is_runwindow_reload %>
</div>