<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= form_for(@user, url: 'user_path') do |u| %>
    <div class="form-item">
        <label for="name"></label>
        <%= u.text_field :name, required: 'required', placeholder: 'User Name' %>
    </div>
    <div class="form-item">
        <label for="email"></label>
        <%= u.email_field :email, required: 'required', placeholder: 'Email Address' %>
    </div>
    <div class="form-item">
        <label for="password"></label>
        <%= u.password_field :password, required: 'required', placeholder: 'Password' %>
    </div>
    <div class="form-item">
        <label for="confirm_password"></label>
        <%= u.password_field :confirm_password, required: 'required', placeholder: 'Confirm Password' %>
    </div>
    <div class="button-panel">
        <%= u.submit class: 'button', title: 'Create', value: 'Create' %>
    </div>
<% end %>