<div id="wrapper">
    <div class="content_wrapper">
        <div id="login-wrapper">
            <div id="header">Sign In</div>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
            <form>
                <div class="form-item">
                    <label for="email"></label>
                    <input type="email" name="email" required="required" placeholder="Email Address" />
                </div>
                <div class="form-item">
                    <label for="password"></label>
                    <input type="password" name="password" required="required" placeholder="Password" />
                </div>
                <div class="button-panel">
                    <input type="submit" class="button" title="Sign In" value="Sign In" />
                </div>
            </form>
            <div class="form-footer">
                <p><a href="#">Create an account</a></p>
                <p><a href="#">Forgot password?</a></p>
            </div>
        </div>

        <div id="orSeparator">
            <div id="socialSeparatorTop"></div>
            <div id="or">or</div>
            <div id="socialSeparatorBottom"></div>
        </div>

        <div id="socialLogin">
            <div id="header">
                Sign In with a Social Network
            </div>

            <%= form_tag(user_omniauth_authorize_path(:facebook)) do %>
                <%= button_tag id: 'fblogin', type: 'submit' do %>
                    f&nbsp;&nbsp;&nbsp;<em id="fbname"></em>
                    <span id="fbtext">Sign In with Facebook</span>
                <% end %>
            <% end %>

            <%= form_tag(user_omniauth_authorize_path(:google)) do %>
                <%= button_tag id: 'gpluslogin', type: 'submit' do %>
                    g+<em id="gpname"></em>
                    <span id="gptext">Sign In with Google</span>
                <% end %>
            <% end %>

            <%= form_tag(user_omniauth_authorize_path(:twitter)) do %>
                <%= button_tag id: 'twtrlogin', type: 'submit' do %>
                    t&nbsp;&nbsp;&nbsp;<em id="twtrname"></em>
                    <span id="twtrtext">Sign In with Twitter</span>
                <% end %>
            <% end %>
        </div>
    </div>
</div>