<div id="<%= Const::StateConfig::ROOT_ID_NAME %>">
    <div class="config">
        <div class="configBox">
            <div class="settingedit-headliner"><%= I18n.t('config.state.page_num') %></div>
            <div style="display:table">
                <!-- ページ番号 -->
                <div style="display: table-cell">
                    <%= I18n.t('config.state.page_num') %>: <span class="page_num"></span>
                </div>
            </div>
        </div>
        <div class="configBox">
            <div class="settingedit-headliner"><%= I18n.t('config.state.display_position') %></div>
            <div class="forms">
                <!-- ワークテーブル座標 -->
                <div>
                    X: <input type="number" class="display_position_x" value="">
                </div>
                <div>
                    <div class="display_position_left_limit" style="float: right">
                    </div>
                    <br style="clear: both">
                </div>
                <div>
                    Y: <input type="number" class="display_position_y" value="">
                </div>
                <div>
                    <div class="display_position_top_limit" style="float: right">
                    </div>
                    <br style="clear: both">
                </div>
            </div>
        </div>
        <div class="configBox">
            <div class="settingedit-headliner"><%= I18n.t('config.state.zoom') %></div>
            <div style="display:table">
                <!-- Zoom -->
                <div>
                    Zoom: <input type="number" class="zoom" value="">
                </div>
                <div>
                    <div class="display_position_zoom_limit" style="float: right">
                    </div>
                    <br style="clear: both">
                </div>
            </div>
        </div>
        <div class="configBox" style="display: none;">
            <div class="settingedit-headliner"><%= I18n.t('config.state.created_item_list') %></div>
            <div class="forms" style="display:table">
                <div style="display: table-cell">
                    <!-- 作成アイテム一覧 -->
                    <div class="created_item_list">
                    </div>
                    <%= render 'worktable/sidebar_menu/state/item_temp' %>
                </div>
            </div>
        </div>
    </div>
</div>