<%# coding: UTF-8 %>

<%
   t_width = content[Const::Gallery::Key::THUMBNAIL_IMG_WIDTH].to_i
   t_height = content[Const::Gallery::Key::THUMBNAIL_IMG_HEIGHT].to_i
   grid_size_classname, thumbnail_style = Gallery.grid_contents_size_and_style(t_width, t_height)
%>

<div class="grid_contents_wrapper <%= grid_size_classname %>">
    <div class="grid_img_wrapper">
        <div class="loading_wrapper" style="display:none">
            <img class="loading" />
        </div>
        <div class="thumbnail_img_wrapper">
            <%= image_tag(thumbnail_gallery_path(content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN]), class: 'thumbnail_img', style: thumbnail_style)%>
        </div>
    </div>

    <div class="info">
        <div class="title_wrapper">
            <% if !content[Const::Gallery::Key::TITLE].nil? %>
                <%= content[Const::Gallery::Key::TITLE] %>
            <% end %>
        </div>
        <div class="caption_wrapper">
            <% if !content[Const::Gallery::Key::CAPTION].nil? %>
                <%= content[Const::Gallery::Key::CAPTION] %>
            <% end %>
        </div>
        <div class="tags_wrapper">
            <% if !content[Const::Gallery::Key::TAGS].nil? %>
                <% content[Const::Gallery::Key::TAGS].each do |tag| %>
                    <%= tag.name %>
                <% end %>
            <% end %>
        </div>
    </div>
    <input type="hidden" class="<%= Const::Gallery::Key::GALLERY_ACCESS_TOKEN %>" value="<%= content[Const::Gallery::Key::GALLERY_ACCESS_TOKEN] %>" />
</div>