<%# coding: UTF-8 %>

<%
  is_blink = false if is_blink.nil?
  if is_blink
    content = {}
  end
%>

<div class="grid_contents_wrapper border" style="opacity: 0">
    <div class="grid_img_wrapper">
        <div class="loading_wrapper" style="display:none">
            <img class="loading" />
        </div>
        <div class="thumbnail_img_wrapper">
          <%= render 'gallery/grid/thumbnail', is_blink: is_blink, content: content %>
        </div>
        <div class="hover_overlay">
          <%= render 'gallery/grid/overlay', is_blink: is_blink, content: content %>
        </div>
    </div>
  <input class="<%= Const::Gallery::Key::THUMBNAIL_IMG_WIDTH %>" type="hidden" value="<%= content[Const::Gallery::Key::THUMBNAIL_IMG_WIDTH].to_i %>" >
  <input class="<%= Const::Gallery::Key::THUMBNAIL_IMG_HEIGHT %>" type="hidden" value="<%= content[Const::Gallery::Key::THUMBNAIL_IMG_HEIGHT].to_i %>" >
</div>