<div id="contents">
    <%= render 'run/defaultscreen/main' %>
    <%= render 'run/defaultscreen/info' %>
    <%= render 'run/defaultscreen/socialbutton' %>
    <%= render 'base/csscode' %>
    <%= render 'base/values', pagevalues: @pagevalues %>
</div>
