<%= stylesheet_link_tag 'run_kit', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'run_kit', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'gallery/gallery' %>
<script src="<%= javascript_path 'gallery/gallery_common'%>" type="text/javascript" ></script>
<script src="<%= javascript_path 'gallery/gallery_sidebar'%>" type="text/javascript" ></script>

<div id="detail_wrapper">
    <%= render 'run/defaultscreen/main' %>
    <%= render 'run/defaultscreen/info' %>
    <%= render 'run/defaultscreen/socialbutton' %>
    <%= render 'base/csscode' %>
    <%= render 'base/values', contents: @contents %>
</div>
