<%if @pagevalues.nil? %>
    <%= render 'base/deleted_page' %>
<% else %>
  <div id="contents">
    <%= render 'run/fullscreen/fullscreen_button', access_token: @access_token, screen_size_width: @screen_size[:width], screen_size_height: @screen_size[:height] %>
    <div class="operation_parent">
      <%= render 'run/operation' %>
    </div>
    <%= render 'run/defaultscreen/main' %>
    <%= render 'run/defaultscreen/info' %>
    <%= render 'base/csscode' %>
    <%= render 'base/values', pagevalues: @pagevalues %>
  </div>

  <%= javascript_include_tag 'webpack/gallery_with_run', 'data-turbolinks-track' => true %>

<% end %>