<%= stylesheet_link_tag 'pipeline/gallery', media: 'all', 'data-turbolinks-track' => true %>
<%if !@is_exist_gallery %>
    <%= render 'base/deleted_page', new_tab_link: true %>
<% else %>
  <%= javascript_include_tag 'pipeline/gallery', 'data-turbolinks-track' => true %>
  <div id="main">
    <div id="thumbnail_wrapper">
      <%= image_tag(thumbnail_gallery_path(@access_token), class: 'thumbnail_img', style: thumbnail_style)%>
    </div>
    <div id="popup_wrapper">
      <div id="button_wrapper">
        <div class="play_in_embed">
          <% link_to "gallery/embed_with_run?#{Const::Gallery::Key::GALLERY_ACCESS_TOKEN}=#{@access_token}" do %>
              <%= image_tag 'gallery/embed/play_in_embed.png', size: '64x64' %>
          <% end %>
        </div>
        <div class="play_in_site">
          <%= link_to "/gallery/detail/#{@access_token}", target: '_newwindow' do %>
              <%= image_tag 'gallery/embed/play_in_site.png.png', size: '64x64' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>