<%= javascript_include_tag 'pipeline/coding', 'data-turbolinks-track' => true %>
<%= render 'coding/navbar/navber' %>

<div id="contents">
    <div id="wrapper">
        <div id="tree_wrapper">
            <div id="tree">
                <ul>
                    <% if @load_tree_html.length > 0 %>
                        <%== @load_tree_html %>
                    <% else %>
                        <li data-jstree='{"type":"root"}' class='root'><%= @user.name %></li>
                    <% end %>
                </ul>
            </div>
            <% @load_user_codings.each do |k, v| %>
                <%
                   path = k.gsub('/', '_').gsub('.', '_')
                %>
                <input type="hidden" class="user_coding_id <%= path %>" value="<%= v %>" >
            <% end %>
        </div>
        <div id="editor_tab_wrapper">
            <% if @load_user_coding.length > 0 %>
                <div id="editor_header_menu">
                    <a>
                        <div class="editor_btn preview">
                            Preview
                        </div>
                    </a>
                </div>
                <div id="editor_contents_wrapper">
                    <div>
                        <ul id="my_tab" class="nav nav-tabs" role="tablist">
                            <% @load_user_coding.each do |data| %>
                                <li role="presentation" class="tab_li <%= @code_state[data['id'].to_s][Const::Coding::Key::IS_ACTIVE] == 'true' ? 'active' : '' %>">
                                    <a class="tab_button" aria-controls="<%= "uc_#{data['id'].to_s}_wrapper" %>" href="#<%= "uc_#{data['id'].to_s}_wrapper" %>" role='tab' data-toggle="tab">
                                        <%= data['name'] %>
                                    </a>
                                    <a class="close_tab_button"></a>
                                </li>
                            <% end %>
                        </ul>
                        <div id="my_tab_content" class="tab-content">
                            <% @load_user_coding.each do |data| %>
                                <div role="tabpanel" class="tab-pane <%= @code_state[data['id'].to_s][Const::Coding::Key::IS_ACTIVE] == 'true' ? 'active' : '' %>" id="<%= "uc_#{data['id'].to_s}_wrapper" %>" >
                                    <div id="<%= "uc_#{data['id'].to_s}" %>" class="editor"><%= data['code'] %></div>
                                    <input type="hidden" class="<%= Const::Coding::Key::LANG %>" value="<%= data[Const::Coding::Key::LANG] %>">
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

<%= form_tag("", method: "post", name: "coding_form") do %>
    <input id="<%= Const::Coding::Key::USER_CODING_ID %>" type="hidden" name="<%= Const::Coding::Key::USER_CODING_ID %>" value="">
<% end %>