<div id="contents">
    <div id="wrapper">
        <div id="tree_wrapper">
            <div id="tree">
                <ul>
                    <% if @load_tree_html.length > 0 %>
                        <%== @load_tree_html %>
                    <% else %>
                        <li data-jstree='{"type":"root"}' class='dir'><%= @user.name %></li>
                    <% end %>
                </ul>
            </div>
        </div>
        <div id="editor_tab_wrapper">
            <% if @load_user_coding.length > 0 %>
                <ul id="my_tab" class="nav nav-tabs" role="tablist">
                    <% @load_user_coding.each do |data| %>
                        <li role="presentation" class="tab_li <%= @code_state[data['id']][Const::Coding::Key::IS_ACTIVE]? 'active' : '' %>">
                            <a class="tab_button" href="#<%= "uc_#{data['id'].to_s}_wrapper" %>" data-toggle="tab">
                                <%= data['name'] %>
                            </a>
                            <a class="close_tab_button"></a>
                        </li>
                    <% end %>
                </ul>
                <div id="my_tab_content" class="tab-content">
                    <% @load_user_coding.each do |data| %>
                        <div class="editor_wrapper <%= data['lang_type'] %>">
                            <div role="tabpanel" class="tab-pane <%= @code_state[data['id']][Const::Coding::Key::IS_ACTIVE]? 'active' : '' %>" id="<%= "uc_#{data['id'].to_s}_wrapper" %>" >
                                <div id="<%= "uc_#{data.id.to_s}" %>" class="editor"><%= data['code'] %></div>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>