<div id="main" class="col-xs-12">
    <div id="screen_wrapper">
        <div id="project_wrapper">
            <div id="project_contents">
                <div id="<%= Const::Paging::ROOT_ID %>"></div>
            </div>
        </div>
        <%= render 'base/floatview' %>
    </div>
    <%= render 'worktable/timeline/timeline' %>
</div>

<%= render 'worktable/worktable_contents_temp' %>

<%= render 'base/indicator' %>