<div id="main" class="col-xs-12">
    <div id="screen_wrapper">
        <div id="project_wrapper">
            <div id="<%= Const::Paging::ROOT_ID %>" class="stage_container"></div>
        </div>
        <%= render 'base/floatview' %>
    </div>
    <%= render 'worktable/timeline/timeline' %>
</div>

<div id="<%= Const::ElementAttribute::MAIN_TEMP_ID %>">
    <div class="main-wrapper">
        <div class="scroll_wrapper">
            <div class="scroll_contents">
                <div class="scroll_inside"></div>
            </div>
        </div>
        <canvas class="canvas_container canvas" style="z-index: <%= Const::Zindex::EVENTBOTTOM %>"></canvas>
    </div>
</div>

<%= render 'base/indicator' %>