<div id="sidebar" class="col-xs-3" style="display:none">
    <div id="sidebar_container">
        <div id="sidebar-wrapper" style="overflow: auto">
            <div id="<%= Const::ElementAttribute::SIDEBAR_TAB_ROOT %>" class="sidebar-config" style="display: none">
              <div class="scroller scroller-left"><i class="glyphicon glyphicon-chevron-left"></i></div>
              <div class="scroller scroller-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
              <div class="tab-nav-tabs-wrapper">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#tab1" data-toggle="tab">Beginning State</a></li>
                  <li><a href="#tab2" data-toggle="tab">Worktable Setting</a></li>
                  <li><a href="#tab3" data-toggle="tab">Item State</a></li>
                </ul>
              </div>
              <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="tab1" >
                    <div class="scroll_y_content border">
                        <p>
                            <%= render 'sidebar_menu/state/state' %>
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <div class="scroll_y_content border">
                        <p>
                            <%= render 'sidebar_menu/setting/setting' %>
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="tab3">
                  <div class="scroll_y_content border">
                    <p>
                      <%= render 'sidebar_menu/items/item' %>
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <%= render 'sidebar_menu/design/design' %>
            <%= render 'sidebar_menu/event/event' %>
        </div>
    </div>

</div>