<%
   set_meta_tags viewport: ''
%>

<%= render 'worktable/navbar/navbar' %>

<div id="contents">
    <%= render 'worktable/main' %>
    <%= render 'worktable/sidebar' %>
    <%= render 'base/csscode' %>
    <%= render 'base/values' %>
    <%= render 'worktable/footer_message' %>
</div>