<div class="config te_div handler_div" style="display: none">
  <div class="configBox">
    <div class="event-config-headliner"><%= I18n.t('config.event.action.kick.kick_type') %></div>
    <div class="forms">
      <div>
        <div style="display: inline-block">
          <label><input type="radio" name="handler_select" value="scroll"><%= I18n.t('config.event.action.kick.scroll') %></label>
        </div>
        <div style="display: inline-block">
          <label><input type="radio" name="handler_select" value="click"><%= I18n.t('config.event.action.kick.click') %></label>
        </div>
      </div>
      <div class="handler_form scroll_form" style="display: none">
        <%= render 'sidebar_menu/event/parts/handler_scroll' %>
      </div>
      <div class="handler_form click_form" style="display: none">
        <%= render 'sidebar_menu/event/parts/handler_click' %>
      </div>
    </div>

  </div>
</div>