<div class="config te_div item_common_div" style="display: none">
  <div class="configBox">
    <div class="event-config-headliner"><%= I18n.t('config.event.item_common.position') %></div>
    <div class="forms">
      <!-- アイテム座標 -->
      <div class="item_position_wrapper">
        X: ±<input type="number" class="item_position_diff_x" value="0">
      </div>
      <div class="item_position_wrapper">
        Y: ±<input type="number" class="item_position_diff_y" value="0">
      </div>
    </div>
  </div>
  <div class="configBox">
    <div class="event-config-headliner"><%= I18n.t('config.event.item_common.show') %></div>
    <div class="forms">
      <!-- 表示状態 -->
      <div class="item_show_wrapper">
        <label><input class="show_will_chapter" type="checkbox"><%= I18n.t('config.event.item_common.show_will_chapter') %></label>
        <div>
          <%= I18n.t('config.event.item_common.show_will_chapter_duration') %>: <input type="number" class="show_will_chapter_duration" min="0" value="0" step="0.1">s
        </div>
      </div>
      <div class="item_show_wrapper">
        <label><input class="hide_did_chapter" type="checkbox"><%= I18n.t('config.event.item_common.hide_did_chapter') %></label>
        <div>
          <%= I18n.t('config.event.item_common.hide_did_chapter_duration') %>: <input type="number" class="hide_did_chapter_duration" min="0" value="0" step="0.1">s
        </div>
      </div>
    </div>
  </div>
  <div class="configBox">
    <div class="event-config-headliner"><%= I18n.t('config.event.item_common.size') %></div>
    <div class="forms">
      <!-- アイテムサイズ -->
      <div class="item_diff_wrapper">
        Width: ±<input type="number" class="item_diff_width" value="0">
      </div>
      <div class="item_diff_wrapper">
        Height: ±<input type="number" class="item_diff_height" value="0">
      </div>
    </div>
  </div>
</div>
