<div class="<%= @class_name %>" style="display:none;">
    <% if @args %>
        <% @args.each do |k, v| %>
            <% if v['type'] == Const::ItemActionOptionType::INTEGER %>
                <%= render 'worktable/sidebar_menu/event/parts/sidebar' %>
            <% elsif v['type'] == Const::ItemActionOptionType::STRING %>
                <%= render 'worktable/sidebar_menu/event/parts/textbox' %>
            <% elsif v['type'] == Const::ItemActionOptionType::COLOR %>
                <%= render 'worktable/sidebar_menu/event/parts/color' %>
            <% elsif v['type'] == Const::ItemActionOptionType::DESIGN_TOOL %>
                <%= render 'worktable/sidebar_menu/event/parts/design' %>
            <% end %>
        <% end %>
    <% end %>
</div>
