<div class="event">
    <div class="config">
        <div class="configBox">
            <div class="timelineedit-headliner">Target</div>
            <div class="forms">
                <!-- イベント対象一覧 -->
                <!-- ワークスペース読み込み時に設定 -->
                <select class="form-control te_item_select" name="te_item_select">
                    <option value="">(Select)</option>
                    <% @common_actions.each do |c| %>
                      <option value="<%= Const::ElementAttribute::COMMON_ACTION_CLASS.sub('@commoneventid', c.id.to_s) %>"><%= t(c.name) %></option>
                    <% end %>
                </select>
            </div>
        </div>
    </div>
    <div class="config te_div action_div" style="display: none">
        <div class="configBox">
            <div class="timelineedit-headliner">Action</div>
            <div class="forms action_forms">
                <% @common_actions.each do |c| %>
                    <!-- アクション名一覧 -->
                    <div class="<%= Const::ElementAttribute::COMMON_ACTION_CLASS.sub('@commoneventid', c.id.to_s) %>" style="display: none">
                        <% c.common_action_events.each do |a| %>
                            <%=
                                render 'worktable/sidebar_menu/event/parts/method',
                                       action_type: TimelineEventHelper.actionTypeClassNameByActionType(a.action_event_type_id),
                                       action_event_type_id: a.action_event_type_id,
                                       method_name: a.method_name,
                                       action_animation_type_id: a.action_animation_type_id,
                                       radio_name: Const::ElementAttribute::COMMON_ACTION_CLASS.sub('@commoneventid', c.id.to_s),
                                       value_class_name: Const::ElementAttribute::COMMON_VALUES_CLASS.sub('@commoneventid', c.id.to_s).sub('@methodname', a.method_name)
                            %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div class="config te_div parallel_div" style="display: none">
        <div class="configBox">
            <div class="timelineedit-headliner">Parallel</div>
            <div class="forms">
                <!-- 同時実行 -->
                <label><input class="parallel" name="parallel" type="checkbox">Parallel</label>
            </div>
        </div>
    </div>

    <div class="config te_div handler_div" style="display: none">
        <div class="configBox">
            <% @common_actions.each do |c| %>
                <% c.common_action_events.each do |a| %>
                    <div class="<%= Const::ElementAttribute::COMMON_VALUES_CLASS.sub('@commoneventid', c.id.to_s).sub('@methodname', a.method_name) %>" style="display: none">
                        <% if a.action_event_type_id == Const::ActionEventHandleType::SCROLL  %>
                            <%= render 'worktable/sidebar_menu/event/parts/handler_scroll' %>
                        <% elsif a.action_event_type_id == Const::ActionEventHandleType::CLICK %>
                            <%= render 'worktable/sidebar_menu/event/parts/handler_click' %>
                        <% end %>
                    </div>
                <% end %>
            <% end %>
         </div>
    </div>

    <div class="config te_div values_div" style="display: none">
        <div class="configBox">
            <div class="timelineedit-headliner">Value</div>
            <div class="forms value_forms">
                <!-- イベント毎の設定値 -->
                <% @common_actions.each do |c| %>
                    <% c.common_action_events.each do |a| %>
                        <div class="<%= Const::ElementAttribute::COMMON_VALUES_CLASS.sub('@commoneventid', c.id.to_s).sub('@methodname', a.method_name) %>" style="display: none">
                          <% if a.id == Const::CommonActionEventChangeType::BACKGROUND  %>
                            <%= render 'worktable/sidebar_menu/event/parts/backgroundcolor_change' %>
                          <% elsif a.id == Const::CommonActionEventChangeType::SCREEN %>
                            <%= render 'worktable/sidebar_menu/event/parts/screenposition_change' %>
                          <% end %>
                        </div>
                    <% end %>
                <% end %>
            </div>
            <div class="forms">

                <button class="push button reset" style="margin-top: 10px">reset change</button><br/>
                <button class="push button apply" style="margin-top: 10px">Apply</button><br/>
                <button class="push button cancel" style="margin-top: 10px">Close(Not apply)</button>
                <input class="confirm" type="hidden" value="OK?(Confirm)">

                <!-- エラー (暫定でこの位置) -->
                <div class="timeline_config_error error-message">
                    <div><p></p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="values"></div>
</div>

<div class="method_temp">
    <%= render 'worktable/sidebar_menu/event/parts/method' %>
</div>

<div class="handler_scroll_temp">
    <%= render 'worktable/sidebar_menu/event/parts/handler_scroll' %>
</div>
<div class="handler_click_temp">
    <%= render 'worktable/sidebar_menu/event/parts/handler_click' %>
</div>
