<div class="event">
  <div style="display: none">
    <%= render 'sidebar_menu/event/menu/target_select' %>
    <%= render 'sidebar_menu/event/menu/item_state' %>
  </div>
  <%= render 'sidebar_menu/event/menu/item_common' %>
  <%= render 'sidebar_menu/event/menu/handler' %>
  <%= render 'sidebar_menu/event/menu/sync' %>
  <%= render 'sidebar_menu/event/menu/action' %>
  <%= render 'sidebar_menu/event/menu/value' %>
  <%= render 'item_preview/sidebar_menu/event/buttons' %>
  <div class="values"></div>
</div>

<div class="method_temp">
    <%= render 'sidebar_menu/event/parts/method' %>
</div>

<div class="method_none_temp">
  <%= render 'sidebar_menu/event/parts/method', type:'none' %>
</div>

<div class="handler_scroll_temp">
    <%= render 'sidebar_menu/event/parts/handler_scroll' %>
</div>
<div class="handler_click_temp">
    <%= render 'sidebar_menu/event/parts/handler_click' %>
</div>
