<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SugerDoc</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= include_gon %>
    <%= csrf_meta_tag %>
    <%= display_meta_tags({
                                  title: "SugerDoc Gallery" ,
                                  description: 'welcome revolver',
                                  viewport: "width=device-width, initial-scale=1"
                          })
    %>
  <%= stylesheet_link_tag 'pipeline/gallery', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body class="<%= controller_name -%> <%= action_name -%>">
    <script type="text/javascript">
      window.isWorkTable = false
    </script>

    <div id="main_gallery_wrapper">
        <div id="gallery_contents_wrapper" class="sidebar_overlay_parent">
            <div class="wrapper">
                <%= yield %>
            </div>
        </div>
        <div id="sidebar_wrapper" class="collapse">
            <%= render 'gallery/sidebar/sidebar' %>
            <%= render 'gallery/sidebar/popup' %>
        </div>
    </div>
    <script type="text/javascript">
        I18n.defaultLocale = "<%= I18n.default_locale %>";
        I18n.locale = "<%= I18n.locale %>";
        I18n.fallbacks = true;
    </script>
</body>
</html>
