<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sweetdoc[β]</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= include_gon %>
    <%= csrf_meta_tag %>
    <%= display_meta_tags({
                                  title: "Sweetdoc[β] Gallery" ,
                                  description: "Active document maker",
                                  viewport: "width=device-width, initial-scale=1"
                          })
    %>
  <%= stylesheet_link_tag 'pipeline/gallery', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body class="<%= controller_name -%> <%= action_name -%>">
    <script type="text/javascript">
      window.isWorkTable = false
    </script>

    <div id="main_gallery_wrapper">
        <div id="gallery_contents_wrapper" class="sidebar_overlay_parent">
            <div class="wrapper">
                <%= yield %>
            </div>
        </div>
    </div>

    <%= render 'base/js_init' %>
    <%= render 'modal_view/preload/preload' %>
</body>
</html>
