<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SweetDoc(β) ItemGallery</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= include_gon %>
    <%= csrf_meta_tag %>
    <%= display_meta_tags({
                                  title: "Item Gallery" ,
                                  description: '',
                                  viewport: "width=device-width, initial-scale=1"
                          })
    %>
  <%= stylesheet_link_tag 'pipeline/item_gallery', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body class="<%= controller_name -%> <%= action_name -%>">
    <%
       set_meta_tags viewport: ''
    %>
    <%= render 'item_gallery/navbar/navbar' %>
    <div id="contents">
        <%= yield %>
    </div>

    <%= render 'base/js_init' %>
</body>
</html>
