<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sweetdoc[β] MotionCheck</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= include_gon %>
    <%= csrf_meta_tag %>
    <%= display_meta_tags({
                                  title: "Sweetdoc[β] MotionCheck" ,
                                  description: 'Active document maker',
                                  viewport: "width=device-width, initial-scale=1"
                          })
    %>
  <%= stylesheet_link_tag 'pipeline/run', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body class="<%= controller_name -%> <%= action_name -%>">
    <script type="text/javascript">
      window.isWorkTable = false
    </script>

    <%= yield %>

    <%= javascript_include_tag 'webpack/motion_check', 'data-turbolinks-track' => true %>
    <%= render 'base/js_init' %>
    <%= render 'modal_view/preload/preload' %>
</body>
</html>
