<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SugerDoc</title>
    <%= favicon_link_tag '/assets/favicon.ico' %>
    <%= include_gon %>
    <%= csrf_meta_tag %>
    <%= display_meta_tags({
                                  title: "SugerDoc Gallery" ,
                                  description: 'welcome revolver',
                                  viewport: "width=device-width, initial-scale=1"
                          })
    %>
  <%= stylesheet_link_tag 'pipeline/my_page', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body class="<%= controller_name -%> <%= action_name -%>">
    <div id="main_wrapper">
        <div id="user_wrapper" class="<%= @is_accessed_myself_page ? 'my' : 'order' %>">
            <%= render 'my_page/user' %>
        </div>
        <div id="contents_wrapper" class="sidebar_overlay_parent">
            <div class="wrapper">
                <div class="tabview_wrapper">
                    <ul class="nav nav-tabs">
                        <li class="<%= action_name == 'bookmarks'? 'active': '' %>"><%= link_to 'Bookmark', 'bookmarks', disabled: action_name == 'bookmarks' %></li>
                        <li class="<%= action_name == 'created_contents'? 'active': '' %>"><%= link_to 'CreatedContents', 'created_contents', disabled: action_name == 'created_contents' %></li>
                        <li class="<%= action_name == 'created_items'? 'active': '' %>"><%= link_to 'CreatedItem', 'created_items', disabled: action_name == 'created_items' %></li>
                        <% if @is_accessed_myself_page %>
                            <li class="<%= action_name == 'using_items'? 'active': '' %>"><%= link_to 'UsingItem', 'using_items', disabled: action_name == 'using_items' %></li>
                        <% end %>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane active">
                            <div class="scroll_y_content border">
                                <p>
                                    <%= yield %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sidebar_wrapper" class="collapse">
            <%= render 'gallery/sidebar/sidebar' %>
            <%= render 'gallery/sidebar/popup' %>
        </div>
    </div>

    <%= javascript_include_tag 'pipeline/my_page', 'data-turbolinks-track' => true %>

    <script type="text/javascript">
        I18n.defaultLocale = "<%= I18n.default_locale %>";
        I18n.locale = "<%= I18n.locale %>";
        I18n.fallbacks = true;
    </script>
</body>
</html>
