<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SweetDoc(β) Upload</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= include_gon %>
    <%= csrf_meta_tag %>
    <%= display_meta_tags({
                                  title: "SweetDoc Upload" ,
                                  description: '',
                                  viewport: "width=device-width, initial-scale=1"
                          })
    %>
  <%= stylesheet_link_tag 'pipeline/upload', media: 'all', 'data-turbolinks-track' => true %>
</head>
<body class="<%= controller_name -%> <%= action_name -%>">
*** Temporary ***
    <div id="contents">
        <%= yield %>
    </div>

    <%= javascript_include_tag 'pipeline/upload', 'data-turbolinks-track' => true %>
    <%= render 'base/js_init' %>
    <%= render 'modal_view/preload/preload' %>
</body>
</html>
