<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DDesk</title>
    <%= favicon_link_tag '/assets/favicon.ico' %>
    <%= include_gon %>
    <%= csrf_meta_tag %>
    <%= display_meta_tags({
                                  title: "DDesk" ,
                                  description: '',
                                  viewport: "width=device-width, initial-scale=1"
                          })
    %>
</head>
<body>
    <%= stylesheet_link_tag 'pipeline/user', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'pipelien/user', 'data-turbolinks-track' => true %>

    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <script type="text/javascript">
        I18n.defaultLocale = "<%= I18n.default_locale %>";
        I18n.locale = "<%= I18n.locale %>";
        I18n.fallbacks = true;
    </script>
</body>
</html>
