<script type="text/javascript">
    window.loadedClassDistToken = Constant.ITEM_PREVIEW_CLASS_DIST_TOKEN
    window.selectItemMenu =  Constant.ITEM_PREVIEW_CLASS_DIST_TOKEN
</script>

<div id="contents">
  <%= render 'item_preview/preview_main' %>
  <%= render 'item_preview/sidebar' %>
  <%= render 'base/csscode' %>
  <%= render 'base/values' %>
  <%= render 'base/config_menu_temp' %>
</div>

<script type="text/javascript" charset="UTF-8" src="<%= @item_source_path %>?ver=<%= SecureRandom.hex(8) %>"></script>

