<div id="main" class="col-xs-9">
  <div id="screen_wrapper">
    <div id="project_wrapper" class="border">
      <div id="project_contents">
        <div id="<%= Const::Paging::ROOT_ID %>"></div>
      </div>
    </div>
  </div>
</div>

<div class="<%= Const::ElementAttribute::MAIN_TEMP_WORKTABLE_CLASS %>">
  <%= render 'worktable/worktable_contents_temp' %>
</div>
<div class="<%= Const::ElementAttribute::MAIN_TEMP_RUN_CLASS %>">
  <%= render 'run/run_contents_temp' %>
</div>

<%= render 'base/indicator' %>